#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure -- \
		--prefix=/usr \
		--sysconfdir=/etc \
		--enable-shared \
		--disable-static

override_dh_auto_install:
	dh_auto_install
	# Install library files to proper location
	mkdir -p debian/tmp/usr/lib
	mkdir -p debian/tmp/usr/lib/pkgconfig

override_dh_installdocs:
	dh_installdocs CHANGELOG README

override_dh_installchangelogs:
	dh_installchangelogs CHANGELOG
